#login-form, #error {
    width: 300px;
}

#login-form {
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: black;
}

#login-form * {
    width: 100%;
    margin: 8px 0;
}

#error {
    margin: 5px 0;
    background: white;
    padding: 0 10px;
    font-size: 1.8em;
    color: orangered;
    text-align: center;
}